# Dependencies
node_modules/

# Production build outputs
dist/
dist-isolated/

# Local environment and secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS settings
.DS_Store
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?